<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body style="min-height: 100vh; display: flex;flex-direction: column;">
  <nav class="navbar navbar-expand-sm">
    <div class="col-2 mt-3" style="padding: 0%;">
      <img src="../../../../assets/logo.png" class="img-fluid logores1" alt="Responsive image">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <!-- <button class="col-11" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon col-12"></span>
      </button> -->
    <div dir="rtl" class="collapse navbar-collapse row col-10" id="collapsibleNavbar">
      <div class="navbar-nav col-12">
        <div class="col-lg-1">
          <a class="nav-item nav-link" (click)="act('home')"><span id="home" class="active">النشوة</span></a>
        </div>
        <div class="col-lg-1">
          <a class="nav-item nav-link" (click)="act('courses')"><span id="courses">الدورات</span></a>
        </div>
        <div class="col-lg-1">
          <a class="nav-item nav-link" (click)="act('signs')"><span id="signs">علامات</span></a>
        </div>
        <div class="col-lg-1">
          <a class="nav-item nav-link" (click)="act('tests')"><span id="tests">الاختبارات</span></a>
        </div>
        <div class="col-lg-1">
          <a class="nav-item nav-link" (click)="act('videoes')"><span id="videoes">أشرطة فيديو</span></a>
        </div>
      </div>
    </div>
  </nav>


<div dir="rtl" style="margin-top: 6.5vw;">
  <app-home *ngIf="h"></app-home>
  <app-videos *ngIf="v"></app-videos>
  <app-courses *ngIf="c"></app-courses>
</div>

  <footer dir="rtl" class="footer">
    <div class="row vertical-center" style="flex-wrap: wrap-reverse;justify-content: space-between;">
      <div class="col-md-3 vertical-center mg">
        <div class="col-md-12 d-block">
          <div class="col-md-12 vertical-center bgblack" style="justify-content: space-evenly;">
            <div class="col-md-9 d-flex"  style="justify-content: end;display: flex;text-align: center;">
              <div class="d-block" style="width: fit-content;justify-content: end;">
                <p class="pdesc1">Available on the</p>
                <p class="phead1">Apple Store</p>
              </div>
            </div>
            <div class="col-md-3" style="justify-content: end;display: flex;">
              <i class="fa fa-apple appleandfb" style="color:white;"></i>
            </div>
          </div>
          <div class="col-md-12 mt-2 vertical-center bgblack" style="justify-content: space-evenly;">
            <div class="col-md-9 d-flex"  style="justify-content: end;display: flex;text-align: center;">
              <div class="d-block" style="width: fit-content;justify-content: end;">
                <p class="pdesc1">Available on the</p>
                <p class="phead1">Google Play</p>
              </div>
            </div>
            <div class="col-md-3" style="justify-content: end;display: flex;">
              <i class="fab fa-google-play appleandfb" style="color:white;"></i>
            </div>
          </div>
          <div class="col-md-12 mt-2 vertical-center" style="text-align: center;">
            <p class="phead">Develped by Developers Den</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-12 vertical-center mg">
        <div class="col-md-12 col-12 d-flex cent" style="justify-content: space-evenly;">
          <div class="col-md-3 cent col-4 d-block">
            <p class="phead1">هؤلابنشوة</p>
            <p class="pdesc1 mt-2" style="color: #8FA1A7;">واجباتهم</p>
            <p class="pdesc1" style="color: #8FA1A7;">واجباتهم نتيجة</p>
            <p class="pdesc1" style="color: #8FA1A7;">الذين أخفقوا</p>
          </div>
          <div class="col-md-3 cent col-4 d-block">
            <p class="phead1">المحتمالمت</p>
            <p class="pdesc1 mt-2" style="color: #8FA1A7;">والأسي</p>
            <p class="pdesc1" style="color: #8FA1A7;">واجباتهم</p>
            <p class="pdesc1" style="color: #8FA1A7;"> لضعف إرادتهم</p>
          </div>
          <div class="col-md-3 cent col-4 d-block">
            <p class="phead1">نونونستنكر</p>
            <p class="pdesc1 mt-2" style="color: #8FA1A7;">اللحظة</p>
            <p class="pdesc1" style="color: #8FA1A7;">هؤلابنشوة</p>
            <p class="pdesc1" style="color: #8FA1A7;">الهائمون</p>
          </div>
        </div>
      </div>

      <div class="col-md-1 vertical-center mg">
        <div class="col-md-12 d-block">
          <div class="col-md-12" style="display: flex;justify-content: center;">
            <a href="#" class="rounded fa fa-facebook"></a>
          </div>
          <div class="col-md-12 mt-3" style="display: flex;justify-content: center;">
            <a href="#" class="rounded fa fa-instagram"></a>
          </div>
          <div class="col-md-12 mt-3" style="display: flex;justify-content: center;">
            <a href="#" class="rounded fa fa-twitter"></a>
          </div>
        </div>
      </div>

      <div class="col-md-2 vertical-center mg">
        <div class="col-md-12 d-block">
            <div class="col-md-12 horizontal-center" style="justify-content: center;display: flex;">
              <img src="../../../../assets/logo.png" class="img-fluid logores" alt="Responsive image">
            </div>
            <div class="col-md-12 mt-3" style="text-align: center;">
              <p class="pdesc"> اللحظة الهائمون في رغباتهم فلا يدركون ما يعقبها من، واللوم  </p>
            </div>
        </div>
      </div>
    </div>
  </footer>
</body>