.active{
    border-bottom: 0.1vw solid #009D68;
}
nav{
    background: linear-gradient(to right, #0E576B, #0E576B, #0E576B);
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    overflow-x: hidden;
}


.vertical-center{
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.horizontal-center{
    display: flex;
    justify-content: center;
}
.logores{
    display: block;
    height: 85%;
    width: 85%;
}
.logores1{
    display: block;
    height: 50%;
    width: 50%;
}
.imageres{
    display: block;
    height: 100%;
    width: 100%;
}
span{
    font-size: 1em;
    padding-bottom: 1vw;
    color: white;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.footer{
    background-color: #1F5A6D;
    border-radius: 1em 1em 0em 0em;
    width: 100%;
    padding: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: auto;

}
p{
    color: white;
    margin: 0%;
    font-size: 1vw;
}
.bgblack{
    background-color: black;
    border: 1px solid white;
    border-radius: 7px;
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.rounded{
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 15%;
}

.pdesc{
    font-size: 1vw;
}

.phead{
    font-size: 1.4vw;
}

.phead1{
    font-size: 1.8vw;
}

.pdesc1{
    font-size: 1.3vw;
}

.appleandfb{
    font-size: 4vw;
}

@media screen and (max-width: 767px) {
    .pdesc{
        font-size: 2vw;
    }
    .rounded{
        padding: 25%;
    }
    .mg{
        margin-top: 7%;
    }
    .logores{
        height: 40%;
        width: 40%;
    }
    .phead{
        font-size: 3vw;
    }
    .phead1{
        font-size: 2.5vw;
    }
    
    .pdesc1{
        font-size: 2vw;
    }
    .cent{
        text-align: center;
    }
    .logores1{
        height: 200%;
        width: 200%;
    }
    .appleandfb{
        font-size: 6vw;
    }
  }
  @media screen and (max-width: 600px) {
    .pdesc{
        font-size: 2.4vw;
    }
    .phead{
        font-size: 3.4vw;
    }
    .rounded{
        padding: 35%;
    }
    .phead1{
        font-size: 3.2vw;
    }
    
    .pdesc1{
        font-size: 2.5vw;
    }
    .appleandfb{
        font-size: 8vw;
    }
  }
  @media screen and (max-width: 500px) {
    .pdesc{
        font-size: 3vw;
    }
    .phead{
        font-size: 4vw;
    }
    .phead1{
        font-size: 4vw;
    }
    
    .pdesc1{
        font-size: 3vw;
    }
    .appleandfb{
        font-size: 10vw;
    }
  }