<div class="mainn">

    <div class="main-section">
            <br>
        <div class="container text-center">
          <div class="row">
            <div class="col"><br>
                <div class="boxes">
                    <img src="assets/media/speakerblack.png">
                    <p>speaker speaker</p>
                    
                </div><br>

                <div class="boxes back-color1">
                    <img src="assets/media/speaker.png">
                    <p>speaker speaker</p>
                    
                </div><br>


                <div class="boxes back-color2">
                    <img src="assets/media/speaker.png">
                    <p>speaker speaker</p>
                    
                </div><br>

                <div class="boxes">
                    <img src="assets/media/speakerblack.png">
                    <p>speaker speaker</p>
                    
                </div>
                  
            </div>
            <div class="col">
                  <div class="main-card">
                      <div class="main-card-part-1">
                          <img src="assets/media/speakerblack.png">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor </p>
                      </div>
                      <div class="main-card-part-2">
                          <img src="assets/media/24.jpg">
                          
                      </div>
                      
                      
                  </div>
            </div>
            
          </div>
        </div>
        

        <div class="main-text-box">
            <hr class="new3">

            <div class="text-box-inner">

                <div class="container text-center">
                      <div class="row">
                        <div class="col">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          </p>
                        </div>
                        
                      </div>
                </div>
                <br>
                <img src="assets/media/speakerblack.png"><br>
                <button type="button" class="btn btn-primary btn-location">Primary</button>
                
            </div>
            
        </div>
</div>
<br>

</div>

