<body>
    <div class="upperdiv comps">
        <div class="row mb-5" style="padding-left: 2%;padding-right: 2%;">
            <div class="col-md-12 col-12 d-flex" style="flex-wrap: wrap;">
                <div class="col-md-8 col-12 d-block">
                    <div class="col-md-10">
                        <h2>تشوبها عواقب أليمة أو آخر أراد أن يتجنم</h2>
                    </div>
                    <div class="col-md-10 mt-4">
                        <p class="pdesc1">أعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟ ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب أليمة أو آخر أراد أن يتجنب الأل</p>
                    </div>
                </div>
                <div class="col-md-4 col-12 vertical-center">
                  <img src="../../../../assets/upperdivcar.png" class="img-fluid logores" alt="Responsive image">
                </div>
            </div>
        </div>
        <div class="row bgwhite mb-3 mg">
            <div class="col-md-12 col-12 d-flex" style="flex-wrap: wrap;padding: 3%;">
                <div class="col-md-4 col-12 d-block mg" style="padding-left: 2%;padding-right: 2%;">
                    <div class="col-md-12  bgimg horizontal-center">
                        <h2 style="color: black;font-weight: bolder;">+4.8</h2>
                    </div>
                    <div class="col-md-12 mt-2" style="text-align: center;">
                        <p class="pdesc1" style="color: black;">سأعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟ ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب أليمة أو آخر أراد أن يتجنب الألم الذي</p>
                    </div>
                </div>
                <div class="col-md-4 col-12 d-block mg" style="padding-left: 2%;padding-right: 2%;border-right: 1px dotted black;">
                    <div class="col-md-12  bgimg horizontal-center">
                        <h2 style="color: black;font-weight: bolder;">+200</h2>
                    </div>
                    <div class="col-md-12 mt-2" style="text-align: center;">
                        <p class="pdesc1" style="color: black;">سأعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟ ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب أليمة أو آخر أراد أن يتجنب الألم الذي</p>
                    </div>
                </div>
                <div class="col-md-4 col-12 d-block mg" style="padding-left: 2%;padding-right: 2%;border-right: 1px dotted black;">
                    <div class="col-md-12  bgimg horizontal-center">
                        <h2 style="color: black;font-weight: bolder;">+200</h2>
                    </div>
                    <div class="col-md-12 mt-2" style="text-align: center;">
                        <p class="pdesc1" style="color: black;">سأعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟ ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب أليمة أو آخر أراد أن يتجنب الألم الذي</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comps mt-2">
        <div class="row horizontal-center">
            <h2 style="color: black;">في رغباتهم</h2>
        </div>
        <div class="row mt-2" style="padding-left: 2%;padding-right: 2%;justify-content: space-between;">
            <div class="col-md-3 col-6" style="padding-left: 4%;padding-right: 4%;">
                <div class="card" style="padding: 4%;">
                    <img class="card-img-top img-fluid" src="../../../../assets/Bus driver-amico.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="pdesc1 card-text" style="color: black;text-align: center;">رغباتهم</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-6" style="padding-left: 4%;padding-right: 4%;">
                <div class="card" style="padding: 4%;">
                    <img class="card-img-top img-fluid" src="../../../../assets/Car crash-cuate.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="pdesc1 card-text" style="color: black;text-align: center;">اللحظة الهائمون</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-6 mg" style="padding-left: 4%;padding-right: 4%;">
                <div class="card" style="padding: 4%;">
                    <img class="card-img-top img-fluid" src="../../../../assets/Asset 3 1024.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="pdesc1 card-text" style="color: black;text-align: center;">المفتونون</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-6 mg" style="padding-left: 4%;padding-right: 4%;">
                <div class="card" style="padding: 4%;">
                    <img class="card-img-top img-fluid" src="../../../../assets/updated-sign.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="pdesc1 card-text" style="color: black;text-align: center;">الرجال المفتونون</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
