*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}


h1{
	color: black;	
}


span{
	position: relative;
	top: 120px;
}


.main-box{
	border: 1px solid whitesmoke;
	width: 100%;
	display: flex;
	height: 190px;
	padding-top: 15px;
	border-radius: 10px;
	background-color: whitesmoke;
	direction: rtl;	
}


.box1{
	flex: 1;
	padding: 3px;
}



.box2{
	flex: 10;
	padding: 3px;
}


.box2 h6{
	float: right;
	color: #000000;
	font: bold;
	direction: rtl;
}


.box2 p{
	float:right;
	font-size: 16px;
	text-align: initial;
	direction: rtl;	
}



.main-box img{
	max-width: 120px;
	height: 90%;
}
