
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="main-container">
            <div class="container1">
                <div class="cont1">
                    <img src="assets/media/24.jpg">      			
                </div>      		
                <div class="cont2">
                    <h6>intro of contact</h6><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt  </p>      				
                </div>      		
            </div>      	
        </div>
      </div>    
    </div>
  </div>
  
  
  <br>
  
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="main-box">     		
               <div class="box2">
                   <h6>intro of contact</h6>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                   tempor incididunt  </p>
                   <span>&#8592;</span>
               </div>     		
           </div>
      </div>
      <div class="col">
        <div class="main-box">		     		
          <div class="box2">
                <h6>intro of contact</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt  </p>
                <span>&#8592;</span>
            </div>
        </div>
      </div>
      <div class="col">
                <div class="main-box">	     		
                   <div class="box2">
                       <h6>intro of contact</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt  </p>
                       <span>&#8592;</span>
                   </div>     		
               </div>
      </div>
    </div>
  </div>
  
  <br>
  
  
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="main-box">     		
               <div class="box2">
                   <h6>intro of contact</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                   tempor incididunt  </p>
                   <span>&#8592;</span>
               </div>     		
        </div>
      </div>
      <div class="col">
            <div class="main-box">		     		
                       <div class="box2">
                           <h6>intro of contact</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt  </p>
                            <span>&#8592;</span>
                       </div>    		
            </div>
      </div>
      <div class="col">
            <div class="main-box">	     		
                   <div class="box2">
                       <h6>intro of contact</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt  </p>
                       <span>&#8592;</span>
                   </div>
            </div>
      </div>
    </div>
  </div>
  
  <br>
  
  
  
